html, body{
    background-color: #FFFAF0;
    color: #4f1176;
    text-align: center;
    margin: 10% 2% 0 2%;
    font-family: "Viaoda Libre", serif;
    padding: 0;
    height: 100%;
    overflow: inherit;
}

.borde{
    margin-top: 111%;
    margin-left: -55%;
    width: auto;
    height: 40%;
    position: fixed;
    pointer-events: none;
}

html{
    scroll-behavior: smooth;
}

.container{
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 10px;
    z-index: 5;
}

.col-6, .col, .direcciones{
    font-size: 140%;
}

.xv{
    font-size: 500%;
}

p{
    font-size: 29px;
}

.icono{
    width: 25%;
}

.one{
    margin: 0 0 -10% -28%;
}

.two{
    margin: 0 0 -10% -55%;
}

.three{
    margin: 0 0 -10% -60%;
}

.four{
    margin: 0 0 -10% -48%;
}

h1{
    color: #4f1176;
    font-family: "Meow Script", cursive;
    font-size: 55px;
}

h2{
    font-size: 40px;
    font-weight: bold;
    padding: 12% 0 0 0;
    margin-top: -8%;
}

.time{
    margin-left: -10%;
}

.iframe-map{
    margin: 8% 0 0 0;
    height: 15%;
    z-index: 5;
}

.btn{
    border-color: #4f1176;
    color: #4f1176;
    font-size: 20px;
    margin: 30% 0 0 0;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
}

.btn:hover{
    background-color: #E5D9F2;
    transition: all 0.8s ease-in-out;
    color: #3B165C;
}

.misa, .recepcion{
    margin-top: 10%;
}

.menu, a{
    background-color: #E5D9F2;
    text-decoration: none;
    color: #4f1176;
    padding: 5%;
    margin: 0 0 0 -8%;
}

.info-parqueo{
    font-size: 140%;
    margin-top: 8%;
}

.itinerario{
    position: relative;
    width: 100%;
    height: 145%;
    box-sizing: border-box;
    border-radius: 10px;
    z-index: 5;
}

img{
    width: 30%;
    margin-top: 10%;
    margin-bottom: -7%;
}

h3{
    margin-bottom: -5%;
    margin-top: 9%;
}

.info-itinerario{
    font-size: 110%;
}

.footer{
    position: relative;
    z-index: 1;
    margin-top: 90%;
    font-size: 70%;
    color: black;
    font-family: Arial;
}

@media (min-width: 600px)
    {
        .borde{
            margin-top: 12%;
            background-repeat: repeat;
            background-size: 100px 100px;
        }

        .container{
            height: 80%;
        }

        .icono{
            width: 15%;
            margin: 0 0 -10% -35%;
        }

        .iframe-map{
            width: 50%;
            height: 20%;
            margin: 2% 0 0 26%;
        }

        .btn{
            margin-top: 8%;
        }

        .time{
            margin: 0;
        }

        .info-parqueo{
            margin: 2% 0 0 0;
        }

        .itinerario{
            width: 100%;
            height: 102%;
            font-size: 130%;
        }

        img{
           width: 10%;
           margin: 0 0 -5 0%;
        }

        .info-itinerario{
            margin-top: 5%;
            margin-bottom: -8%;
        }
    }
