html, body{
    background-color: #FFFAF0;
    color: #4f1176;
    text-align: center;
    margin: 10% 2% 0 2%;
    font-family: "Viaoda Libre", serif;
    padding: 0;
    height: 100%;
    overflow: inherit;
}

html{
    scroll-behavior: smooth;
}

.borde-izquierdo{
    position: fixed;
    margin: 100% 0 0 -90%;
    z-index: -0;
    opacity: 30%;
}

.borde-iz{
    position: fixed;
    z-index: -0;
    opacity: 70%;
    margin: 130% 0 0 -50%;
}

.borde-derecho{
    image-orientation: flip;
    position: fixed;
    margin: 100% 0 0 -20%;
    opacity: 30%;
}

.borde-de{
    position: fixed;
    z-index: -0;
    opacity: 70%;
    margin: 120% 0 0 -70%;
}

.container{
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 10px;
    z-index: 5;
}

.xv{
    font-size: 70px;
    margin: -20% 0 0 20%;
}

p{
    margin: 0 0 1% 0;
    font-size: 120%;
}

h1{
    color: #4f1176;
    font-family: "Meow Script", cursive;
    font-size: 170%;
}

h2{
    font-size: 130%;
    font-weight: bold;
    padding: 12% 0 0 0;
}

.iframe-map{
    margin: 8% 0 0 0;
    height: 15%;
    z-index: 5;
}

.btn{
    border-color: #4f1176;
    color: #4f1176;
    font-size: 70%;
    margin: 30% 0 0 0;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
}

.btn:hover{
    background-color: #E5D9F2;
    transition: all 0.8s ease-in-out;
    color: #3B165C;
}

.misa, .recepcion{
    margin-top: 10%;
}

.menu, a{
    background-color: #E5D9F2;
    text-decoration: none;
    color: #4f1176;
    padding: 5%;
    border-radius:;
    margin: 0 0 0 -8%;
}

.info-parqueo{
    font-size: 100%;
    margin-top: 8%;
}